body{
    padding-inline: 215px;
    display: flex;
    flex-direction: column;
    gap:100px;
    main{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 100px;
        .header-wrapper{
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 120px;
            nav{
                ul{
                    display: flex;
                    gap: 40px;
                    li{
                        a{
                            text-decoration: none;
                            color: #4B5D68;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 160%;
                        }
                    }
                    li:hover a{
                        color:#8A40EE;;
                    }
                }
            }
        }
           
        .demo{
                box-sizing: border-box;           
                width: 210px;
                height: 60px;
                border: 1px solid #9C69E2;
                border-radius: 50px;
                box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
                background: #FFFFFF;
                svg{
                   path{
                    stroke:#9C69E2;
                   }
                }
                a{
                    text-decoration: none;
                    color: #212353;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0.005em;
                    padding: 16px 23px 16px 23px;
                    display: inline-block;
                }
            }

        .demo:hover{
            background-color:#9C69E2;
            a{
                color: #FFFFFF;  
            }
            svg{
                path{
                    stroke:#FFFFFF;
                }
            }
        }
        
    }
}


.hero{
    display: flex;
    width: 100%;
    min-width: 1170px;
    height: 489px;
    justify-content: space-between;
    .hero-image{
      background-image:url(../image/hero-img.svg);
      width: 770px;
      height: 407px;
      margin-left: -250px;
      align-self:flex-end;
    }
    .hero-text{
        display: flex;
        flex-direction: column;
        // gap: 50px;
        justify-content: space-around;
        h1{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 110%;
            color: #212353;
            max-width: 601px;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: #4B5D68;
            max-width: 370px;
        }
        a{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            background: #9C69E2;
            border: 1px solid #9C69E2;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            width: 210px;
            height: 60px;
            text-decoration: none;
            box-sizing: border-box;
            padding-left: 52px;
        }
        a:hover{
            background: #8A40EE; 
        }
    }
}

.info{
    background: #FDE8F5;
    border-radius: 50px;
    height: 560px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    min-width: 1170px;
    .info-image{
        background-image:url(../image/info-image.svg);
        width: 400px;
        height: 410px;
    }
    .info-text{
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            display: flex;
            align-items: center;
            color: #212353;  
        }
        .info-text-p{
           p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: #4B5D68;
           }
        }
    }
}

.features{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    h2{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        color: #212353; 
    }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #4B5D68; 
    }
    .learn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .learn-item{
            max-width: 50%;
            display: flex;
            margin-block-end: 50px;
            align-items:center;
            .learn-image{
                width: 230px;
                height: 180px;
                margin-inline-end: -60px;
                z-index: 2;
            }
            .search-image{
                background-image: url(../image/learn-image/first-image.svg);
            }
            .hours-image{
                background-image: url(../image/learn-image/second-image.svg);
            }
            .print-image{
                background-image: url(../image/learn-image/third-image.svg);
            }
            .security-image{
                background-image: url(../image/learn-image/fours-image.svg);
            }
            .item-text{
                border-radius: 50px;
                width: 400px;
                height: 400px;
               display: flex;
               flex-direction: column;
               padding-inline-start: 100px;
               justify-content: space-evenly;
               align-items:flex-start;
               text-align: start;
               h3{
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 130%;
                color: #212353;
               }
               p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #4B5D68;
                width: 230px;
               }
               a{
                text-decoration: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0.005em;
                color: #212353;
               }
               a:after{
                content: '';
                width: 20px;
                height: 14px;
                background-image: url(../image/arrow.svg);
                background-size:cover;
                display: inline-block;
                margin-inline-start: 20px;
               }
            }
            .search{
                background-color: #F0FAF9;
                background-image: url(../image/learn-bg-image-1.svg);
                background-repeat: no-repeat;
                background-position: bottom 195px right 40px;
            }
            .hours{
                background-image: url(../image/learn-bg-image-2.svg);
                background-repeat: no-repeat;
                background-position: bottom 10px right 30px;
                background-color: #F6F0FD;
            }
            .print{
                background-color: #FEF0F8;  
                background-image: url(../image/learn-bg-image-3.svg);
                background-repeat: no-repeat;
                background-position: top 20px right 30px;
            }
            .security{
                background-color: #EAF6FC;
                background-image: url(../image/learn-bg-image-4.svg);
                background-repeat: no-repeat;
                background-position: top 20px right 30px;
            }
        }
    }
}

.test{
    min-width: 1170px;
    height: 580px;
    background-color:#CCDDFF;
    border-radius: 50px;
    background-image: url(../image/test-bg-image.svg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    h2{
        text-align: center;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        color: #4B5D68;

    }
    .test-cards{
        display: flex;
        gap: 100px;
        justify-content:center;
        .card{
            width: 485px;
            height: 300px;
            box-sizing: border-box;
            background: #FFFFFF;
            border: 1px solid #9C69E2;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            display: flex;
            // align-items:center;
            padding-block-start: 50px;
            justify-content: space-evenly;
            gap: 15px;
            .card-ava{
                width: 90px;
                height: 90px;
                border-radius:50%;
            }
            .john{
                background-image: url(../image/john.png);
                background-position:center;
                background-size:cover;
            }
            .hanna{
                background-image: url(../image/hanna.png);
                background-position:center;
                background-size:cover;
            }
            .card-info{
                width: 300px;
                height: 200px;
                display: flex;
                flex-direction: column;
                gap: 18px;
                .info-name{
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 160%;
                        color: #212353;
                    }
                    a{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 160%;
                        letter-spacing: 0.01em;
                        color: #9C69E2;
                        text-decoration: none; 
                    }
                }
                .info-details{
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                        color: #4B5D68;   
                    }
                }
            }
        }
    }
}

.try{
    display: flex;
    justify-content: space-between;
    .try-start{
        h4{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            color: #212353;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: #4B5D68;
             
        }
    }
    .try-end{
        display: flex;
        gap: 30px;
        .more{
            background: #F063B8;
            border: 1px solid #F063B8;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: #FFFFFF;
            width: 210px;
            height: 60px;
            box-sizing:border-box;
            padding-left: 52px;
            display: flex;
            align-items:center;
        }
        .more:hover{
            background: #EB4BAB;
        }
        .demo{
            box-sizing: border-box;           
            width: 210px;
            height: 60px;
            border: 1px solid #9C69E2;
            border-radius: 50px;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            background: #FFFFFF;
            svg{
               path{
                stroke:#9C69E2;
               }
            }
            a{
                text-decoration: none;
                color: #212353;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0.005em;
                padding: 16px 23px 16px 23px;
                display: inline-block;
            }
        }

    .demo:hover{
        background-color:#9C69E2;
        a{
            color: #FFFFFF;  
        }
        svg{
            path{
                stroke:#FFFFFF;
            }
        }
    }
    }
}


footer{
   display: flex; 
   flex-direction: column;
   gap: 109px;
   p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
   }
   nav{
    display: flex;
    justify-content: space-between;
    }
    .contact{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .footer-logo{
            display: flex;
            margin-bottom: 62px;

            h5{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 160%;
                color: #212353; 
            }
        }
        .address{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
            letter-spacing: 0.01em;
            color: #212353;

        }
        .mail{
            a{
               font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px; 
                line-height: 180%;
                letter-spacing: 0.01em;
                color: #212353; 
                text-decoration: none;
            }
        }
        .tel{
            a{
                font-family: 'Montserrat';
                 font-style: normal;
                 font-weight: 400;
                 font-size: 16px; 
                 line-height: 180%;
                 letter-spacing: 0.01em;
                 color: #212353; 
                 text-decoration: none;
             }
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        :first-child{
            margin-bottom: 30px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            color: #212353;
        }
        li{
            a{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: #4B5D68;  
                text-decoration: none;
            }
            a:hover{
                color: #8A40EE;  
            }
        }
    }
    
   }

   .icons{
    display: flex;
    justify-content: space-between;
    width: 180px;
    .icon{
        width: 50px;
        height: 50px;
        .icon-social{
            width: 50px;
            height: 50px;
            background-color: rgb(33 35 83 / 10%);
            border-radius:50%;
            use{
                fill: white; 
            }
        }
    }
    .icon:hover{
        .icon-social{
            background-color:white;
        }
        .facebook{
            border: 0.5px solid #3B5998;
            use{
                fill: #3B5998;
            }
        }
        .twitter{
            border: 0.5px solid #00ACEE;
            use{
                fill: #00ACEE ;
            }
        }
        .instagram{
            border: 0.5px solid #C13584;
            use{
                fill:  #C13584;
            }
        }
    }
   }